.tournoment-grid__text {
  background: #630b0b;
  border: 1px solid white;
  padding: 10px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

.tournoment-grid__text{
  text-align: center;
}

.tournoment-grids {
  display: flex;
  gap: 20px;
  align-items: center;
}