.panel-section {
  margin: 30px auto 0px;
  display: flex;
  justify-content: center;
}

.form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.panel-section_form {
  border: 2px solid white;
  border-top: 6px solid rgb(128, 45, 45);
  padding: 35px 30px;
  border-radius: 5px;
  background: #303030;
}

.radio-pare__text {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 25px;
  align-items: center;
}

.form__buttons {
  margin-top: 15px;
}

.radio-pare {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.radio-pare__text {
  width: 100px;
  overflow: hidden;
  text-align: center;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio + .custom-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio + .custom-label::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.1em;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-radio:checked + .custom-label::before {
  border-color: #616161;
  background-color: #303030;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio:disabled + .custom-label::before {
  border: 1px solid #e3e5e5;
}

.custom-radio:checked:disabled + label::before {
  border-color: #e3e5e5;
  background-color: #e3e5e5;
}

.button {
  border-radius: 10px;
  border: 1px solid white;
  background: #303030;
  text-align: center;
}

.button:hover {
  background: #474747;
}

.form__button {
  padding: 10px 15px;
  margin-top: 30px;
}

.frame {
  border: 2px solid white;
  border-top: 6px solid rgb(128, 45, 45);
  padding: 15px 10px;
  border-radius: 5px;
  background: #303030;
}

.winner_frame {
  padding: 20px 30px;
}

.frame_text {
  padding-top: 15px;
  text-align: center;
}

.frame_title {
  padding-top: 20px;
}
