.page {
  height: 100%;
  padding-bottom: 50px;
}


.body {
  display: flex;
  gap: 70px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}


body {
  background-image: url('./back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 110px;
}

