.form_button {
  padding: 10px 15px;
  margin-top: 25px;
}
.form_buttons {
  display: flex;
}

.initial {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.start__button {
  margin-top: 25px;
  padding: 15px 20px;
}

.start__text {
  padding-top: 20px;
}

.input {
  border: 2px solid white;
  border-radius: 5px;
}

.input::placeholder {
  padding-left: 10px;
}

.input_from {
  padding: 10px 15px;
  width: 400px;
}

.initial__start {
  border: 2px solid white;
  border-top: 6px solid rgb(128, 45, 45);
  padding: 25px 20px;
  border-radius: 5px;
  background: #303030;
}

.start__text_danger {
  width: 400px;
  color: rgb(179, 63, 63);
}

.start__button_danger {
  margin-top: 20px;
  color: rgb(173, 26, 26);
  border: 1px solid rgb(122, 7, 7);
  padding: 10px 15px;
}
