.subtitle {
  font-size: 20px;
  font-weight: 400;
}

.table__subtitle {
  padding: 25px 80px 10px 0px;
}

.table {
  border-collapse: collapse;
}

.table__text {
  background-color: #303030;
  border: 1px solid #a6a6a6;
  padding: 5px 10px;
}

.text_text_green {
  color: #28E00A;
}

.text_text_red {
  color: #E40000;
}
